:root {
  --primary-color: #070e14;
  --secondary-color: #fafafa;
  --tertiary-color: #818487;
  --link-primary-color-lighter: #83888d;
  --link-primary-color-darker: #1d2228;
  --link-secondary-color-lighter: #fcfcfc;
  --link-secondary-color-darker: #969696;
}
